body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFFF0; /* Ivory background */
    color: #191970; /* MidnightBlue text color */
    margin: 0;
    padding: 0;
    text-align: justify;
}

header {
    position: relative;
    background-color: #191970; /* MidnightBlue */
    padding: 0;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header .intro {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('acgt.jpg') no-repeat center center/cover;
    color: #191970; /* #FFFFF0 Ivory */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .intro h1,
header .intro p {
    position: relative;
    z-index: 1;
}

header .intro h1 {
    font-size: 3em;
    margin: 0;
    padding: 0.5em 0;
}

header .intro p {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 0;
}

footer {
    background-color: #191970; /* MidnightBlue */
    color: #FFFFF0; /* Ivory */
    padding: 10px;
    text-align: center;
}

footer nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px; /* Reduce space */
}

footer nav a {
    color: #FFFFF0; /* Ivory */
    margin: 0 10px;
    text-decoration: none;
}

footer section#contact {
    margin-bottom: 10px; /* Reduce space */
}

footer .social-links {
    margin-top: 10px; /* Reduce space */
}

footer .social-links a {
    color: #FFFFF0; /* Ivory */
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

main section {
    margin-bottom: 40px;
}

main section#about {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
}

main section#about img {
    width: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}

main section#about p,
main section#contact p {
    text-align: justify;
    margin: 0 auto;
    max-width: 600px;
}

main section#about ul {
    text-align: justify;
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

main section#about ul li {
    background: #191970; /* MidnightBlue background */
    color: #FFFFF0; /* Ivory text */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.footer-email {
    color: #1E90FF; /* DodgerBlue */
    text-decoration: none;
}

.footer-email:hover {
    color: #FF6347; /* Tomato */
    text-decoration: underline;
}

.footer-email:active {
    color: #FF4500; /* OrangeRed */
    text-decoration: underline;
}

.footer-email:visited {
    color: #551A8B; /* Purple */
}

/* Responsive Design */
@media (max-width: 768px) {
    header .intro h1 {
        font-size: 2.5em;
    }

    header .intro p {
        font-size: 1.2em;
    }

    main section#about img {
        width: 150px;
    }

    main section#about ul li {
        font-size: 0.9em;
    }
}
