body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    position: relative;
    background-color: #2e2e2e;
    padding: 20px;
}

header .intro {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

header .intro img {
    width: 100%;
    height: auto;
}

header .intro h1,
header .intro p {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin: 0;
}

header .intro h1 {
    font-size: 3em;
}

header .intro p {
    font-size: 1.5em;
}

header .social-links {
    margin-top: 20px;
}

header .social-links a {
    color: #00aced;
    margin: 0 10px;
    text-decoration: none;
}

footer {
    background-color: #2e2e2e;
    padding: 10px;
    text-align: center;
}

footer nav {
    display: inline-block;
}

footer nav a {
    color: #00aced;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

main section {
    margin-bottom: 40px;
}

main section#about img {
    width: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}

main section#about p,
main section#contact p {
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
}

main section#about ul {
    text-align: left;
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

main section#about ul li {
    background: #444;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
